{{ partial "head" . }}
<body class="post-template">

    {{ partial "header" . }}
    {{ partial "navigation" . }}

    <main class="content" role="main">
	    <article class="post">
	        <header>
          <div class="post-meta"><time datetime="{{ .Date.Format "Monday, January 02, 2006" }}">{{ .Date.Format "Monday, January 02, 2006" }}</time></div>
          <h1 class="post-title">{{ .Title }}</h1>
	        </header>

	        <section class="post-content">
	            {{ .Content }}
	        </section>

          <section class="post-tags">
              <div class="post-meta tags">
              Posted in:
              {{ range .Params.tags }}
              <a href="{{ $.Site.BaseURL }}tags/{{ . }}">{{ . }} </a>
              {{ end }}
              </div>
          </section>

			{{ if eq .Site.Params.comments "disqus" }}
	        	{{ template "_internal/disqus.html" . }}
	        {{ end }}

			{{ if eq .Site.Params.comments "googleplus" }}
				{{ partial "googleplus-comments" . }}
			{{ end }}

	        <section class="share">
	            <p class="backtotop"><a data-scroll href="#site-head"><i class="fa fa-lg fa-fw fa-angle-double-up"></i></a><a data-scroll class="backtotoptext" href="#site-head"> {{ .Site.Params.backtotopStr }}</a></p>
				<br><br>
	        </section>

	        <footer class="post-footer">
	            {{ partial "author" . }}
	        </footer>
	    </article>
	</main>

    {{ partial "footer" . }}
    {{ partial "js" . }}

</body>
</html>
