{{ partial "head" . }}
<body class="post-template">

    {{ partial "header" . }}
    {{ partial "navigation" . }}

    <main class="content" role="main">
	    <article class="post">
	        <header>
	        <h1 class="post-title">{{ .Title }}</h1>

	        <section class="post-content">
	            {{ .Content }}
	        </section>

          <section class="share">
	            <p class="backtotop"><a data-scroll href="#site-head"><i class="fa fa-lg fa-fw fa-angle-double-up"></i></a><a data-scroll class="backtotoptext" href="#site-head"> {{ .Site.Params.backtotopStr }}</a></p>
				<br><br>
	        </section>

          <footer class="post-footer">
              {{ partial "author" . }}
          </footer>

	    </article>
	</main>
    {{ partial "footer" . }}
    {{ partial "js" . }}

</body>
</html>
