<footer class="site-footer">
	<div class="inner">
		{{ partial "kicker" . }}
		<section class="footer-social">
			{{ with .Site.Params.bluesky }}
		    <a href="//bsky.app/profile/{{ . }}" target="_blank" title="Bluesky"><i class="fa fa-2x fa-fw fa-brands fa-bluesky"></i> <span class="hidden">Bluesky</span></a>&nbsp;
		    {{ end }}
		    {{ with .Site.Params.github }}
		    <a href="//github.com/{{ . }}" target="_blank" title="GitHub"><i class="fa fa-2x fa-fw fa-github"></i> <span class="hidden">GitHub</span></a>&nbsp;
		    {{ end }}
		    {{ with .Site.Params.gitlab }}
		    <a href="//gitlab.com/u/{{ . }}" target="_blank" title="GitLab"><i class="fa fa-2x fa-fw fa-gitlab"></i> <span class="hidden">GitLab</span></a>&nbsp;
		    {{ end }}
		</section>
		<section class="copyright">&copy; {{ now.Format "2006"}} <a href="{{ .Site.BaseURL }}about">{{ .Site.Params.name }}</a>. {{ .Site.Params.copyright | markdownify }}</section>
	</div>
</footer>
