<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ .Title }}</title>
    <meta name="author" content="{{ with .Site.Params.name }}{{ . }}{{ end }}">
    <meta name="description" content="{{ .Description }}">
    {{ hugo.Generator }}
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <meta name="og:site" content="{{ .Site.Params.bluesky }}">
    <meta name="og:creator" content="{{ .Site.Params.bluesky }}">
    <meta name="og:description" content="{{ .Description }}" />
    <meta name="og:title" content="{{ .Title }}" />
    <meta name="og:card" content="summary" />
    {{ if .Params.image }}
    <meta name="og:image" content="{{ .Params.image }}" /> {{ else }}
    <meta name="og:image" content="{{ .Site.BaseURL }}img/author-image.png" />
    {{ end }}
    

    {{ "<!-- RSS autodiscovery -->" | safeHTML }}
    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml"
    title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml"
    title="{{ .Site.Title }}" />
    {{ end }}

    <link rel="shortcut icon" href="{{ .Site.BaseURL }}favicon.ico">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.2/normalize.min.css">

    {{ "<!-- Stylesheets -->" | safeHTML }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/screen.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/github.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/default.min.css">

    {{ "<!-- Stylesheet for theme color -->" | safeHTML }}
    {{ partial (printf "themes/%s-theme" .Site.Params.themeColor) . }}
</head>
