{{ if .Site.Menus.main }}
<nav class="menu" role="nav">
    <ul>
      <li class="nav nav-current">
        <a href="{{ .Site.BaseURL }}">Home</a>
      </li>
      <li>•</li>
      {{ range .Site.Menus.main }}
      	<li class="nav nav-current"><a href="{{ .URL }}">{{ .Name }}</a></li>
        <li>•</li>
    	{{end}}
      <li class="nav nav-current">
        <a href="{{ .Site.RSSLink }}" target="_blank" title="RSS"><i class="fa fa-fw fa-rss"></i> <span class="hidden">RSS</span></a>
      </li>
    </ul>
</nav>
{{ end }}
