{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
{{ range $paginator.Pages }}
<article class="preview">
    <header>
      <div class="post-meta"><time datetime="{{ .Date.Format "Monday, January 02, 2006" }}">{{ .Date.Format "Monday, January 02, 2006" }}</time></div>
      <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    </header>
</article>
{{ end }}
